include ALGORITHM.md
include CHANGELOG.md
include CITATION.cff
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include LICENSE
include README.md
include RELEASING.md
include SECURITY.md
recursive-include examples *.jsonl
recursive-include tests *.py
